<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}" aria-label="{{ site.short_title }} - Home">
        <div class="header__logo--container">
          {% include logo.svg %}
        </div>
      </a>
      <a class="header__wordmark" href="{{ '/' | relative_url }}">{{ site.short_title }}</a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          {% for item in site.navigation %}
            <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
              <span itemprop="name">{{ item.name }}</span>
            </a>
          {% endfor %}
        </div>
      </nav>
      <button class="header__toggle" type="button" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
